#main {
  display: grid;
  justify-items: center;
  background-color: black;
  font-family: monospace;
}
#title {
  color: #B0866C;
  font-family: 'Cloister Black BT', monospace;
  display: grid;
  justify-items: center; 
}
#img-div {
  color: #E0B9A5;
}
#image {
  max-width: 100%;
  height: auto;
}
#img-div {
  display: grid;
  justify-items: center;
}
#sources {
  color: white;
}
#disclaimer {
  color: green;
}

